
<!-- Footer -->

<footer class="bg-dark text-white text-center text-lg-start mt-5">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Balco Medical Center</h5>
  
          <p>
            VMRF is a non-profit organisation initiated by Vedanta Resources and Bharat Aluminium Co. Ltd. (BALCO) to
            contribute to the prevention of cancer and its related illnesses through a Centre of Excellence in medical,
            surgical and radiation oncology.
          </p>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Follow us</h5>
  
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Facebook</a>
            </li>
            <li>
              <a href="#!" class="text-white">Twitter</a>
            </li>
            <li>
              <a href="#!" class="text-white">Youtube</a>
            </li>
            <li>
              <a href="#!" class="text-white">Instagram</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-0">Quick Links</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-white">Home</a>
            </li>
            <li>
              <a href="#!" class="text-white">About us</a>
            </li>
            <li>
              <a href="#!" class="text-white">Contact us</a>
            </li>
            <li>
              <a href="#!" class="text-white">Book appointment</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: #90b842;">
      Copyright ©2018 Balco Medical Centre
    </div>
    <!-- Copyright -->
  </footer>
  
  <!-- Footer -->